.wishlist-heading
{
    font-size: 25px;
    font-weight: 500;
}

.wishlist-addToCart
{
    padding: 3px 7px;
    font-size: 15px;
    background-color:#754FFE ;
    color: #fff;
    border-radius: 4px;
}

@media  (max-width:400px) {
  .wishlist-heading {
    font-size: 25px;
  }
}
@media (min-width: 400px) and (max-width:450px) {
  .wishlist-heading {
    font-size: 25px;
  }
}
@media (min-width: 450px) and (max-width:550px) {
  .wishlist-heading {
    font-size: 25px;
  }
}

@media (min-width: 550px) and (max-width:600px) {

  .wishlist-heading {
    font-size: 25px;
  }
}

@media (min-width: 600px) and (max-width:800px) {
  .wishlist-heading {
    font-size: 25px;
  }
}

@media (min-width: 800px) and (max-width:950px) {
  .wishlist-heading {
    font-size: 26px;
  }
}

@media (min-width: 950px) and (max-width:1150px) {
  .wishlist-heading {
    font-size: 26px;
  }
}

@media (min-width: 1150px) {
  .wishlist-heading {
    font-size: 26px;
  }
}
