@media (max-width:400px) {
  .testominals-section {
    padding: 1rem 1rem;
  }
  .testominals-section-heading {
    font-size: 25px;
  }
  .testominals-lists {
    column-gap: 0%;
  }
  .testominals-item {
    width: 100%;
    padding: 8px 8px;
  }
  .testominal-user-img {
    width: 2.4rem;
    height: 2.4rem;
  }
  .testominal-item-user-name {
    font-size: 14px;
    font-weight: 500;
  }
  .testominal-item-feedback {
    font-size: 13px;
  }
}
@media (min-width: 400px) and (max-width:550px) {
  .testominals-section {
    padding: 1rem 1rem;
  }
  .testominals-section-heading {
    font-size: 25px;
  }
  .testominals-lists {
    column-gap: 0%;
  }
  .testominals-item {
    width: 100%;
    padding: 8px 10px;
  }
  .testominal-user-img {
    width: 2.6rem;
    height: 2.6rem;
  }
  .testominal-item-user-name {
    font-size: 14px;
    font-weight: 500;
  }
  .testominal-item-feedback {
    font-size: 14px;
  }
}

@media (min-width: 550px) and (max-width:600px) {
  .testominals-section {
    padding: 1rem 1rem;
  }
  .testominals-section-heading {
    font-size: 25px;
  }
  .testominals-lists {
    column-gap: 2%;
  }
  .testominals-item {
    width: 49%;
    padding: 8px 10px;
  }
  .testominal-user-img {
    width: 2.6rem;
    height: 2.6rem;
  }
  .testominal-item-user-name {
    font-size: 15px;
    font-weight: 500;
  }
  .testominal-item-feedback {
    font-size: 14px;
  }
}

@media (min-width: 600px) and (max-width:800px) {
  .testominals-section {
    padding: 1rem 1.5rem;
  }
  .testominals-section-heading {
    font-size: 25px;
  }
  .testominals-lists {
    column-gap: 4%;
  }
  .testominals-item {
    width: 48%;
    padding: 8px 10px;
  }
  .testominal-user-img {
    width: 2.6rem;
    height: 2.6rem;
  }
  .testominal-item-user-name {
    font-size: 15px;
    font-weight: 500;
  }
  .testominal-item-feedback {
    font-size: 14px;
  }
}
@media (min-width: 800px) and (max-width:1000px) {
  .testominals-section {
    padding: 1rem 2rem;
  }
  .testominals-section-heading {
    font-size: 25px;
  }
  .testominals-lists {
    column-gap: 2%;
  }
  .testominals-item {
    width: 32%;
    padding: 8px 10px;
  }
  .testominal-user-img {
    width: 2.6rem;
    height: 2.6rem;
  }
  .testominal-item-user-name {
    font-size: 15px;
    font-weight: 500;
  }
  .testominal-item-feedback {
    font-size: 14px;
  }
}

@media (min-width: 1000px) {
  .testominals-section {
    padding: 1rem 2rem;
  }
  .testominals-section-heading {
    font-size: 25px;
  }
  .testominals-lists {
    column-gap: 1.3%;
  }
  .testominals-item {
    width: 24%;
    padding: 8px 10px;
  }
  .testominal-user-img {
    width: 2.6rem;
    height: 2.6rem;
  }
  .testominal-item-user-name {
    font-size: 15px;
    font-weight: 500;
  }
  .testominal-item-feedback {
    font-size: 14px;
  }
}

