.course-manage-section{
    padding: 1rem 1.5rem;
}
.courses-manage-header
{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
}
.courses-manage-header-left
{
    display: flex;
    gap: 4px;
    align-items: center;
}
.courses-manage-header-icon
{
    font-size: 1.2rem;
}
.courses-manage-title
{
    font-size: 23px;
    font-weight: 500;
}
.courses-manage-add-btn
{
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 12px;
    border: 1px solid #754FFE;
    transition: all 400ms ease-in-out;
}
.courses-manage-add-btn:hover
{
    background-color: #4717f5;
    color: #fff;
}
.courses-manage-filter-bar
{
    display: flex;
    justify-content: space-between;
}
.courses-manage-search-input
{
    padding: 5px 6px;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #777777;
    color: #777777;
    width: 15rem;
}
.courses-manage-sort-cont
{
    display: flex;
    gap: 4px;
    align-items: center;
}
.courses-manage-sort-label
{
    color: #777777;
}
.courses-manage-sort-label,.courses-manage-sort-dropdown
{
    font-size: 15px;
    padding: 1px 4px;
    outline: none;
}