@media (max-width:600px) {
  .dashboard-section {
    padding: 1rem 0.1rem;
  }
  .dashboard-header {
    padding: 5px 0.5rem;
  }
  .dashboard-title {
    font-size: 18px;
  }
  .dashboard-title-icon {
    font-size: 1.2rem;
  }
  .dashboard-stats {
    margin-top: 6px;
    gap: 2%;
  }
  .dashboard-stat-item {
    width: 48%;
    padding: 0.4rem 0rem;
  }
  .dashboard-stat-icon {
    font-size: 1.2rem;
  }
  .dashboard-stat-value {
    font-size: 16px;
  }
  .dashboard-stat-label {
    font-size: 13px;
  }
  .dashborad-charts-section {
    width: 100%;
  }
  .dashboard-chart-title {
    font-size: 16px;
    font-weight: 500;
  }
  .dashboard-revenue-chart {
    height: 14rem !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .dashboard-pie-chart {
    width: 80% !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 15rem !important;
  }
}

@media (min-width: 400px) and (max-width:600px) {
  .dashboard-section {
    padding: 1rem 0.6rem;
  }
  .dashboard-header {
    padding: 5px 0.5rem;
  }
  .dashboard-title {
    font-size: 20px;
  }
  .dashboard-title-icon {
    font-size: 1.3rem;
  }
  .dashboard-stats {
    margin-top: 6px;
    gap: 2%;
  }
  .dashboard-stat-item {
    width: 48%;
    padding: 1rem 0.3rem;
  }
  .dashboard-stat-icon {
    font-size: 1.3rem;
  }
  .dashboard-stat-value {
    font-size: 16px;
  }
  .dashboard-stat-label {
    font-size: 14px;
  }
  .dashborad-charts-section {
    width: 100%;
  }
  .dashboard-chart-title {
    font-size: 17px;
    font-weight: 500;
  }
  .dashboard-revenue-chart {
    height: 16rem !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .dashboard-pie-chart {
    width: 80% !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 17rem !important;
  }
}

@media (min-width: 600px) and (max-width:800px) {
  .dashboard-section {
    padding: 1rem 1rem;
  }
  .dashboard-header {
    padding: 5px 0.5rem;
  }
  .dashboard-title {
    font-size: 22px;
  }
  .dashboard-title-icon {
    font-size: 1.4rem;
  }
  .dashboard-stats {
    margin-top: 10px;
    gap: 2%;
  }
  .dashboard-stat-item {
    width: 48%;
    padding: 1rem 0.6rem;
  }
  .dashboard-stat-icon {
    font-size: 1.4rem;
  }
  .dashboard-stat-value {
    font-size: 17px;
  }
  .dashboard-stat-label {
    font-size: 14px;
  }
  .dashborad-charts-section {
    width: 100%;
  }
  .dashboard-chart-title {
    font-size: 17px;
    font-weight: 500;
  }
  .dashboard-revenue-chart {
    height: 16rem !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .dashboard-pie-chart {
    width: 60% !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 17rem !important;
  }
}

@media (min-width: 800px) and (max-width:1000px) {
  .dashboard-section {
    padding: 1rem 1rem;
  }
  .dashboard-header {
    padding: 5px 0.5rem;
  }
  .dashboard-title {
    font-size: 22px;
  }
  .dashboard-title-icon {
    font-size: 1.4rem;
  }
  .dashboard-stats {
    margin-top: 10px;
    gap: 1%;
  }
  .dashboard-stat-item {
    width: 24%;
    padding: 1rem 1rem;
  }
  .dashboard-stat-icon {
    font-size: 1.4rem;
  }
  .dashboard-stat-value {
    font-size: 17px;
  }
  .dashboard-stat-label {
    font-size: 14px;
  }
  .dashborad-charts-section {
    width: 100%;
  }
  .dashboard-chart-title {
    font-size: 18px;
    font-weight: 500;
  }
  .dashboard-revenue-chart {
    height: 18rem !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .dashboard-pie-chart {
    width: 40% !important;
    height: 16rem !important;
  }
}

@media (min-width: 1000px) {
  .dashboard-section {
    padding: 1rem 1rem;
  }
  .dashboard-header {
    padding: 5px 1rem;
  }
  .dashboard-title {
    font-size: 23px;
  }
  .dashboard-title-icon {
    font-size: 1.5rem;
  }
  .dashboard-stats {
    margin-top: 10px;
    gap: 1%;
  }
  .dashboard-stat-item {
    width: 24%;
    padding: 1rem 1rem;
  }
  .dashboard-stat-icon {
    font-size: 1.6rem;
  }
  .dashboard-stat-value {
    font-size: 19px;
  }
  .dashboard-stat-label {
    font-size: 15px;
  }
  .dashborad-charts-section {
    width: 100%;
  }
  .dashboard-chart-title {
    font-size: 20px;
    font-weight: 500;
  }
  .dashboard-revenue-chart {
    height: 20rem !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .dashboard-pie-chart {
    width: 40% !important;
    height: 18rem !important;
  }
}
