.search-section {
  padding: 1rem;
}
.search-bar {
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: center;
}
.search-input-wrapper {
  position: relative;
  width: 100%;
}
.search-icon {
  position: absolute;
  top: 8px;
  left: 9px;
  font-size: 1.4rem;
}
.search-page-input-field {
  width: fit-content;
  padding: 7px;
  font-size: 15px;
  outline: none;
  padding-left: 2.5rem;
  width: 100%;
  border: 1px solid #777777;
  border-radius: 4px;
}
.search-clear-buttn {
  font-size: 16px;
  border: 1px solid #754ffe;
  border-radius: 5px;
  color: #754ffe;
  padding: 8px 12px;
  transition: all 300ms ease-in-out;
}
.search-clear-buttn:hover {
  background-color: #754ffe;
  color: #fff;
}
.search-page-search-buttn {
  font-size: 16px;
  border: 1px solid #777777;
  padding: 8px 14px;
  border-radius: 5px;
  color: #fff;
  background-color: #754ffe;
  transition: all 200ms ease-in-out;
}
.search-page-search-buttn:hover {
  background-color: #4716f9;
}
.search-page-filters {
  display: flex;
  padding: 5px 4px;
  justify-content: space-between;
  margin-top: 1px;
}
.filter-options {
  background-color: #e6eaef;
  padding: 6px;
  border: 1px solid #777777;
  display: flex;
  gap: 4px;
  border-radius: 4px;
}
.filter-option {
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  padding: 3px;
  border-radius: 4px;
}
.active-filter-option {
  background-color: #fff;
}
.more-filters {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 2px;
  font-size: 15px;
  font-weight: 500;
  padding: 3px;
  border: 1px solid #777777;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
}
.more-filters:hover {
  background-color: #e6eaef;
}
.filter-icon {
  font-size: 1rem;
}

