@media  (max-width:400px) {
  .course-detail-start {
    width: 100%;
    padding: 2rem 0.7rem;
  }
  .course-detail-breadcrumb {
    font-size: 14.5px;
  }
  .course-breadcrumb-icon {
    font-size: 1rem;
  }
  .course-detail-breadcrumb-separator {
    font-size: 0.8rem;
  }
  .course-detail-title {
    font-size: 17px;
  }
  .course-detail-description {
    font-size: 13px;
  }
  .course-detail-meta {
    gap: 8px;
    flex-direction: column;
    align-items: start;
  }
  .course-detail-instructor {
    gap: 3px;
  }
  .course-detail-instructor-avatar {
    width: 2.9rem;
    height: 2.9rem;
  }
  .course-deatil-instructer-name {
    font-size: 13.5px;
  }
  .course-deatil-students {
    gap: 3px;
  }
  .course-detail-students-icon {
    font-size: 1rem;
  }
  .course-detail-student-count {
    font-size: 13px;
  }
  .course-deatil-course-rating {
    font-size: 12.5px;
  }

  .course-deatil-end {
    width: 100%;
    padding: 6px 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
  }
  .course-deatil-video {
    height: 12rem;
  }
  .course-deatil-price-icon {
    font-size: 1rem;
  }
  .course-end-info-label {
    font-size: 13.5px;
    gap: 6px;
  }
  .course-end-info-value {
    font-size: 13.5px;
  }
  .course-end-addToCart-btn {
    padding: 5px 6px;
  }
}
@media (min-width: 400px) and (max-width:500px) {
  .course-detail-start {
    width: 100%;
    padding: 2rem 1rem;
  }
  .course-detail-breadcrumb {
    font-size: 14.5px;
  }
  .course-breadcrumb-icon {
    font-size: 1rem;
  }
  .course-detail-breadcrumb-separator {
    font-size: 0.8rem;
  }
  .course-detail-title {
    font-size: 19px;
  }
  .course-detail-description {
    font-size: 14px;
  }
  .course-detail-meta {
    gap: 5px;
     flex-direction: column;
    align-items: start;
  }
  .course-detail-instructor {
    gap: 5px;
  }
  .course-detail-instructor-avatar {
    width: 3rem;
    height: 3rem;
  }
  .course-deatil-instructer-name {
    font-size: 14.5px;
  }
  .course-deatil-students {
    gap: 4px;
  }
  .course-detail-students-icon {
    font-size: 1.2rem;
  }
  .course-detail-student-count {
    font-size: 14.5px;
  }
  .course-deatil-course-rating {
    font-size: 13.5px;
  }

  .course-deatil-end {
    width: 100%;
    padding: 8px 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
  }
  .course-deatil-video {
    height: 14rem;
  }
  .course-deatil-price-icon {
    font-size: 1rem;
  }
  .course-end-info-label {
    font-size: 13.5px;
    gap: 6px;
  }
  .course-end-info-value {
    font-size: 13.5px;
  }
  .course-end-addToCart-btn {
    padding: 5px 7px;
  }
}

@media (min-width: 500px) and (max-width:600px) {
  .course-detail-start {
    width: 100%;
    padding: 2rem 2rem;
  }
  .course-detail-breadcrumb {
    font-size: 15px;
  }
  .course-breadcrumb-icon {
    font-size: 1.1rem;
  }
  .course-detail-breadcrumb-separator {
    font-size: 0.9rem;
  }
  .course-detail-title {
    font-size: 20px;
  }
  .course-detail-description {
    font-size: 14.5px;
  }
  .course-detail-meta {
    gap: 2rem;
  }
  .course-detail-instructor {
    gap: 6px;
  }
  .course-detail-instructor-avatar {
    width: 3rem;
    height: 3rem;
  }
  .course-deatil-instructer-name {
    font-size: 15px;
  }
  .course-deatil-end {
    width: 100%;
    padding: 8px 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
  }
  .course-deatil-video {
    height: 15rem;
  }

}

@media (min-width: 600px) and (max-width:750px) {
  .course-detail-start {
    width: 100%;
    padding: 2rem 2rem;
  }
  .course-detail-breadcrumb {
    font-size: 15px;
  }
  .course-breadcrumb-icon {
    font-size: 1.1rem;
  }
  .course-detail-breadcrumb-separator {
    font-size: 0.9rem;
  }
  .course-detail-title {
    font-size: 21px;
  }
  .course-detail-instructor-avatar {
    width: 3.1rem;
    height: 3.1rem;
  }


  .course-deatil-end {
    width: 100%;
    padding: 8px 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }
  .course-deatil-video {
    height: 16rem;
  }
}

@media (min-width: 750px) and (max-width:850px) {
  .course-detail-start {
    width: 63%;
    padding: 2rem 1rem;
  }
  .course-detail-breadcrumb {
    font-size: 15px;
  }
  .course-breadcrumb-icon {
    font-size: 1.1rem;
  }
  .course-detail-breadcrumb-separator {
    font-size: 0.9rem;
  }
  .course-detail-title {
    font-size: 21px;
  }
  .course-detail-meta {
    gap: 4rem;
  }
  .course-detail-instructor-avatar {
    width: 3.1rem;
    height: 3.1rem;
  }

  .course-deatil-end {
    width: 37%;
    padding: 8px 1rem;
    display: flex;
    flex-direction: column;
  }
  .course-deatil-video {
    height: 11rem;
  }
}

@media (min-width: 850px) and (max-width:1000px) {
  .course-detail-start {
    width: 65%;
    padding: 2rem 1.5rem;
  }
  .course-detail-instructor-avatar {
    width: 3.1rem;
    height: 3.1rem;
  }
   .course-detail-title {
    font-size: 22px;
  }

  .course-deatil-end {
    width: 35%;
    padding: 8px 1rem;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1000px) and (max-width:1200px) {
  .course-detail-start {
    width: 70%;
    padding: 2rem 1.5rem;
  }
  .course-detail-title {
    font-size: 22px;
  }
  .course-deatil-end {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .course-detail-start {
    width: 75%;
    padding: 2rem 2rem;
  }
  .course-detail-breadcrumb {
    font-size: 16px;
  }
  .course-breadcrumb-icon {
    font-size: 1.2rem;
  }
  .course-detail-breadcrumb-separator {
    font-size: 1rem;
  }
  .course-detail-title {
    font-size: 23px;
  }
  .course-detail-description {
    font-size: 15px;
  }
  .course-detail-meta {
    gap: 5rem;
  }
  .course-detail-instructor {
    gap: 8px;
  }
  .course-detail-instructor-avatar {
    width: 3.5rem;
    height: 3.5rem;
  }
  .course-deatil-instructer-name {
    font-size: 16px;
  }
  .course-deatil-students {
    gap: 4px;
  }
  .course-detail-students-icon {
    font-size: 1.3rem;
  }
  .course-detail-student-count {
    font-size: 15px;
  }
  .course-deatil-course-rating {
    font-size: 14px;
  }

  .course-deatil-end {
    width: 25%;
    padding: 8px 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .course-deatil-video {
    height: 11rem;
  }
  .course-deatil-price-icon {
    font-size: 1rem;
  }
  .course-end-info-label {
    font-size: 14px;
    gap: 6px;
  }
  .course-end-info-value {
    font-size: 14px;
  }
  .course-end-addToCart-btn {
    padding: 5px 7px;
  }
}
