@media  (max-width:400px) {
  .hero-section {
    padding: 0.4rem 0.5rem;
    flex-direction: column;
  }
  .hero-content {
    padding: 1rem 1.3rem;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
  }
  .hero-title {
    font-size: 28px;
    line-height: 2.42rem;
    font-weight: 600;
  }
  .hero-description {
    font-size: 15px;
  }
  .hero-stats
{
    display: flex;
    justify-content: space-between;
}
  .stat-value {
    font-size: 23px;
    font-weight: 600;
  }
  .stat-label {
    font-size: 14px;
  }
  .hero-image {
    display: none;
    width: 40%;
  }
  .banner-image {
    height: auto;
    width: 95%;
  }
}

@media (min-width: 400px) and (max-width:500px) {
  .hero-section {
    padding: 0.4rem 0.7rem;
    flex-direction: column;
  }
  .hero-content {
    padding: 1rem 1.3rem;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
  }
  .hero-title {
    font-size: 31px;
    line-height: 3rem;
    font-weight: 600;
  }
  .hero-description {
    font-size: 15px;
  }
  .hero-stats
{
    display: flex;
    justify-content: space-between;
}
  .stat-value {
    font-size: 27px;
    font-weight: 600;
  }
  .stat-label {
    font-size: 15px;
  }
  .hero-image {
    display: none;
    width: 40%;
  }
  .banner-image {
    height: auto;
    width: 95%;
  }
}

@media (min-width: 500px) and (max-width:700px) {
  .hero-section {
    padding: 1rem 1rem;
    flex-direction: column;
  }
  .hero-content {
    padding: 1rem 1.3rem;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
  }
  .hero-title {
    font-size: 31px;
    line-height: 3rem;
    font-weight: 600;
  }
  .hero-description {
    font-size: 15px;
  }
  .hero-stats
{
    display: flex;
    justify-content: space-between;
}
  .stat-value {
    font-size: 27px;
    font-weight: 600;
  }
  .stat-label {
    font-size: 15px;
  }
  .hero-image {
    display: none;
    width: 40%;
  }
  .banner-image {
    height: auto;
    width: 95%;
  }
}

@media (min-width: 700px) and (max-width:900px) {
  .hero-section {
    padding: 1rem 1rem;
  }
  .hero-content {
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  .hero-title {
    font-size: 34px;
    line-height: 2.5rem;
    font-weight: 600;
  }
  .hero-description {
    font-size: 15px;
  }
  .stat-value {
    font-size: 29px;
    font-weight: 600;
  }
  .stat-label {
    font-size: 15px;
  }
  .hero-image {
    width: 40%;
  }
  .banner-image {
    height: auto;
    width: 95%;
  }
}

@media (min-width: 900px) and (max-width:1050px) {
  .hero-section {
    padding: 1rem 2rem;
  }
  .hero-content {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  .hero-title {
    font-size: 34px;
    line-height: 2.5rem;
    font-weight: 600;
  }
  .hero-description {
    font-size: 15px;
  }
  .stat-value {
    font-size: 29px;
    font-weight: 600;
  }
  .stat-label {
    font-size: 15px;
  }
  .hero-image {
    width: 40%;
  }
  .banner-image {
    height: auto;
    width: 90%;
  }
}

@media (min-width: 1050px) {
  .hero-section {
    padding: 1rem 2rem;
  }
  .hero-content {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  .hero-title {
    font-size: 34px;
    line-height: 2.5rem;
    font-weight: 600;
  }
  .hero-description {
    font-size: 15px;
  }
  .stat-value {
    font-size: 29px;
    font-weight: 600;
  }
  .stat-label {
    font-size: 15px;
  }
  .hero-image {
    width: 40%;
  }
  .banner-image {
    height: auto;
    width: 90%;
  }

}
