.online-learning-section
{
    padding: 1rem 3rem;
}
.section-title
{
    text-align: center;
    font-size: 26px;
    font-weight: 500;
}
.benefits-list
{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    margin-top: 0.6rem;
}
.benefit-item
{
    width: 24%;
    justify-items: center;
    padding: 1rem;
    text-align: center;
}
.benefit-img
{
    height: 10rem;
    width: auto;
}
.benefit-text
{
    font-size: 15px;
    color: #777777;
}