@media  (max-width:500px) {
  .auth-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .auth-image-cont {
    width:100%;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
  }
  .auth-image {
    width: 95%;
  }
  .auth-form-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .auth-content {
    padding: 1rem 1rem;
  }
  .auth-title {
    font-size: 26px;
  }
  .auth-description {
    font-size: 14px;
  }
  .auth-input-label {
    font-size: 13.5px;
  }
  .auth-input-group {
    margin: 8px 0;
  }
  .auth-input-icon {
    position: absolute;
    top: 11px;
    left: 14px;
    font-size: 1rem;
  }
  .auth-input-field {
    width: 100%;
    padding: 7px;
    padding-left: 2.4rem;
  }
  .auth-button {
    width: 100%;
    padding: 0.45rem;
    font-size: 16px;
    border-radius: 6px;
    transition: all 400ms ease-in-out;
  }
  .auth-switch {
    font-size: 14px;
  }
}

@media (min-width: 400px) and (max-width:500px) {
  .auth-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .auth-image-cont {
    width:100%;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: center;
  }
  .auth-image {
    width: 85%;
  }
  .auth-form-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .auth-content {
    padding: 1rem 2.5rem;
  }
  .auth-title {
    font-size: 26px;
  }
  .auth-description {
    font-size: 15px;
  }
  .auth-input-label {
    font-size: 15px;
  }
  .auth-input-group {
    margin: 8px 0;
  }
  .auth-input-icon {
    position: absolute;
    top: 11px;
    left: 14px;
    font-size: 1.1rem;
  }
  .auth-input-field {
    width: 100%;
    padding: 7px;
    padding-left: 2.7rem;
  }
  .auth-button {
    width: 100%;
    padding: 0.5rem;
    font-size: 17px;
    border-radius: 6px;
    transition: all 400ms ease-in-out;
  }
  .auth-switch {
    font-size: 14px;
  }
}

@media (min-width: 500px) and (max-width:600px) {
  .auth-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .auth-image-cont {
    width:100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
  }
  .auth-image {
    width: 80%;
  }
  .auth-form-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .auth-content {
    padding: 1rem 3rem;
  }
  .auth-title {
    font-size: 27px;
  }
  .auth-description {
    font-size: 15px;
  }
  .auth-input-label {
    font-size: 15px;
  }
  .auth-input-group {
    margin: 8px 0;
  }
  .auth-input-icon {
    position: absolute;
    top: 11px;
    left: 14px;
    font-size: 1.1rem;
  }
  .auth-input-field {
    width: 100%;
    padding: 8px;
    padding-left: 3rem;
  }
  .auth-button {
    width: 100%;
    padding: 0.6rem;
    font-size: 17px;
    border-radius: 6px;
    transition: all 400ms ease-in-out;
  }
  .auth-switch {
    font-size: 15px;
  }
}

@media (min-width: 600px) and (max-width:750px) {
  .auth-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .auth-image-cont {
    width:100%;
    padding: 1rem 3rem;
    display: flex;
    justify-content: center;
  }
  .auth-image {
    width: 80%;
  }
  .auth-form-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .auth-content {
    padding: 1rem 4rem;
  }
  .auth-title {
    font-size: 27px;
  }
  .auth-description {
    font-size: 15px;
  }
  .auth-input-label {
    font-size: 15px;
  }
  .auth-input-group {
    margin: 8px 0;
  }
  .auth-input-icon {
    position: absolute;
    top: 11px;
    left: 14px;
    font-size: 1.1rem;
  }
  .auth-input-field {
    width: 100%;
    padding: 8px;
    padding-left: 3rem;
  }
  .auth-button {
    width: 100%;
    padding: 0.6rem;
    font-size: 17px;
    border-radius: 6px;
    transition: all 400ms ease-in-out;
  }
  .auth-switch {
    font-size: 15px;
  }
}

@media (min-width: 750px) and (max-width:800px) {
  .auth-section {
    display: flex;
  }
  .auth-image-cont {
    width: 50%;
    padding: 1rem 0.8rem;
  }
  .auth-image {
    width: 100%;
  }
  .auth-form-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  .auth-content {
    padding: 1rem 1rem;
    padding-right: 1rem;
  }
  .auth-title {
    font-size: 28px;
  }
  .auth-description {
    font-size: 15px;
  }
  .auth-input-label {
    font-size: 15px;
  }
  .auth-input-group {
    margin: 8px 0;
  }
  .auth-input-icon {
    position: absolute;
    top: 9px;
    left: 14px;
    font-size: 1.2rem;
  }
  .auth-input-field {
    width: 100%;
    padding: 8px;
    padding-left: 3rem;
  }
  .auth-button {
    width: 100%;
    padding: 0.6rem;
    font-size: 17px;
    border-radius: 6px;
    transition: all 400ms ease-in-out;
  }
  .auth-switch {
    font-size: 15px;
  }
}

@media (min-width: 800px) and (max-width:1000px) {
  .auth-section {
    display: flex;
  }
  .auth-image-cont {
    width: 50%;
    padding: 1rem 0.8rem;
  }
  .auth-image {
    width: 100%;
  }
  .auth-form-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  .auth-content {
    padding: 1rem 1rem;
    padding-right: 2rem;
  }
  .auth-title {
    font-size: 28px;
  }
  .auth-description {
    font-size: 15px;
  }
  .auth-input-label {
    font-size: 15px;
  }
  .auth-input-group {
    margin: 8px 0;
  }
  .auth-input-icon {
    position: absolute;
    top: 9px;
    left: 14px;
    font-size: 1.2rem;
  }
  .auth-input-field {
    width: 100%;
    padding: 8px;
    padding-left: 3rem;
  }
  .auth-button {
    width: 100%;
    padding: 0.6rem;
    font-size: 17px;
    border-radius: 6px;
    transition: all 400ms ease-in-out;
  }
  .auth-switch {
    font-size: 15px;
  }
}

@media (min-width: 1000px) and (max-width:1200px) {
  .auth-section {
    display: flex;
  }
  .auth-image-cont {
    width: 50%;
    padding: 1rem 0.8rem;
  }
  .auth-image {
    width: 100%;
  }
  .auth-form-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  .auth-content {
    padding: 1rem 1rem;
    padding-right: 4rem;
  }
  .auth-title {
    font-size: 28px;
  }
  .auth-description {
    font-size: 15px;
  }
  .auth-input-label {
    font-size: 15px;
  }
  .auth-input-group {
    margin: 8px 0;
  }
  .auth-input-icon {
    position: absolute;
    top: 9px;
    left: 14px;
    font-size: 1.2rem;
  }
  .auth-input-field {
    width: 100%;
    padding: 8px;
    padding-left: 3rem;
  }
  .auth-button {
    width: 100%;
    padding: 0.6rem;
    font-size: 17px;
    border-radius: 6px;
    transition: all 400ms ease-in-out;
  }
  .auth-switch {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .auth-section {
    display: flex;
  }
  .auth-image-cont {
    width: 50%;
    padding: 2rem 3rem;
  }
  .auth-image {
    width: 100%;
  }
  .auth-form-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  .auth-content {
    padding: 1rem 1rem;
    padding-right: 8rem;
  }
  .auth-title {
    font-size: 28px;
  }
  .auth-description {
    font-size: 15px;
  }
  .auth-input-label {
    font-size: 15px;
  }
  .auth-input-group {
    margin: 8px 0;
  }
  .auth-input-icon {
    position: absolute;
    top: 10px;
    left: 14px;
    font-size: 1.2rem;
  }
  .auth-input-field {
    width: 100%;
    padding: 8px;
    padding-left: 3rem;
  }
  .auth-button {
    width: 100%;
    padding: 0.6rem;
    font-size: 17px;
    border-radius: 6px;
    transition: all 400ms ease-in-out;
  }
  .auth-switch {
    font-size: 15px;
  }
}
