@media  (max-width:400px) {
  .course-section {
    padding: 1rem 1rem;
  }
  .course-section-heading {
    font-size: 25px;
  }
  .course-lists {
    width: 100%;
    column-gap: 0%;
    row-gap: 10px;
  }
  .course-card {
    width: 100%;
    padding: 0.9rem 0.9rem;
  }

  .course-thumbnail-img {
    height: 11rem;
  }
  .course-wishlist-buttn {
    height: 1.7rem;
    width: 1.7rem;
  }
  .wishlist-unselected-icon,
  .wishlist-selected-icon {
    font-size: 1.1rem;
  }
  .course-title {
    font-size: 15px;
  }
  .icon-lessons,
  .icons-students {
    font-size: 12px;
  }

  .course-instructor-img {
    width: 2.3rem;
    height: 2.3rem;
  }
  .course-intructor-name {
    font-size: 15px;
  }
}
@media (min-width: 400px) and (max-width:450px) {
  .course-section {
    padding: 1rem 1rem;
  }
  .course-section-heading {
    font-size: 25px;
  }
  .course-lists {
    width: 100%;
    column-gap: 0%;
    row-gap: 10px;
  }
  .course-card {
    width: 100%;
    padding: 0.9rem 0.9rem;
  }

  .course-thumbnail-img {
    height: 13rem;
  }
  .course-wishlist-buttn {
    height: 2rem;
    width: 2rem;
  }
  .wishlist-unselected-icon,
  .wishlist-selected-icon {
    font-size: 1.3rem;
  }
  .course-title {
    font-size: 16px;
  }
  .icon-lessons,
  .icons-students {
    font-size: 12px;
  }

  .course-instructor-img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .course-intructor-name {
    font-size: 15px;
  }
}
@media (min-width: 450px) and (max-width:550px) {
  .course-section {
    padding: 1rem 1rem;
  }
  .course-section-heading {
    font-size: 25px;
  }
  .course-lists {
    width: 100%;
    column-gap: 0%;
    row-gap: 10px;
  }
  .course-card {
    width: 100%;
    padding: 0.9rem 0.9rem;
  }

  .course-thumbnail-img {
    height: 16rem;
  }
  .course-wishlist-buttn {
    height: 2rem;
    width: 2rem;
  }
  .wishlist-unselected-icon,
  .wishlist-selected-icon {
    font-size: 1.3rem;
  }
  .course-title {
    font-size: 16px;
  }
  .icon-lessons,
  .icons-students {
    font-size: 12px;
  }

  .course-instructor-img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .course-intructor-name {
    font-size: 15px;
  }
}

@media (min-width: 550px) and (max-width:600px) {
  .course-section {
    padding: 1rem 1rem;
  }
  .course-section-heading {
    font-size: 25px;
  }
  .course-lists {
    width: 100%;
    column-gap: 2%;
    row-gap: 10px;
  }
  .course-card {
    width: 49%;
    padding: 0.9rem 0.9rem;
  }

  .course-thumbnail-img {
    height: 12rem;
  }
  .course-wishlist-buttn {
    height: 2rem;
    width: 2rem;
  }
  .wishlist-unselected-icon,
  .wishlist-selected-icon {
    font-size: 1.3rem;
  }
  .course-title {
    font-size: 16px;
  }
  .icon-lessons,
  .icons-students {
    font-size: 12px;
  }

  .course-instructor-img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .course-intructor-name {
    font-size: 15px;
  }
}

@media (min-width: 600px) and (max-width:800px) {
  .course-section {
    padding: 1rem 2rem;
  }
  .course-section-heading {
    font-size: 25px;
  }
  .course-lists {
    width: 100%;
    column-gap: 2%;
    row-gap: 10px;
  }
  .course-card {
    width: 49%;
    padding: 0.9rem 0.9rem;
  }

  .course-thumbnail-img {
    height: 12rem;
  }
  .course-wishlist-buttn {
    height: 2rem;
    width: 2rem;
  }
  .wishlist-unselected-icon,
  .wishlist-selected-icon {
    font-size: 1.3rem;
  }
  .course-title {
    font-size: 16px;
  }
  .icon-lessons,
  .icons-students {
    font-size: 12px;
  }

  .course-instructor-img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .course-intructor-name {
    font-size: 15px;
  }
}

@media (min-width: 800px) and (max-width:950px) {
  .course-section {
    padding: 1rem 2rem;
  }
  .course-section-heading {
    font-size: 26px;
  }
  .course-lists {
    width: 100%;
    column-gap: 2%;
    row-gap: 10px;
  }
  .course-card {
    width: 49%;
    padding: 0.9rem 0.9rem;
  }

  .course-thumbnail-img {
    height: 14rem;
  }
  .course-wishlist-buttn {
    height: 2rem;
    width: 2rem;
  }
  .wishlist-unselected-icon,
  .wishlist-selected-icon {
    font-size: 1.3rem;
  }
  .course-title {
    font-size: 16px;
  }
  .icon-lessons,
  .icons-students {
    font-size: 12px;
  }

  .course-instructor-img {
    width: 2.8rem;
    height: 2.8rem;
  }
  .course-intructor-name {
    font-size: 16px;
  }
}

@media (min-width: 950px) and (max-width:1150px) {
  .course-section {
    padding: 1rem 2rem;
  }
  .course-section-heading {
    font-size: 26px;
  }
  .course-lists {
    width: 100%;
    column-gap: 1.3%;
    row-gap: 10px;
  }
  .course-card {
    width: 32%;
    padding: 0.9rem 0.9rem;
  }

  .course-thumbnail-img {
    height: 12rem;
  }
  .course-wishlist-buttn {
    height: 2rem;
    width: 2rem;
  }
  .wishlist-unselected-icon,
  .wishlist-selected-icon {
    font-size: 1.3rem;
  }
  .course-title {
    font-size: 16px;
  }
  .icon-lessons,
  .icons-students {
    font-size: 12px;
  }

  .course-instructor-img {
    width: 2.8rem;
    height: 2.8rem;
  }
  .course-intructor-name {
    font-size: 16px;
  }
}

@media (min-width: 1150px) {
  .course-section {
    padding: 1rem 2rem;
  }
  .course-section-heading {
    font-size: 26px;
  }
  .course-lists {
    width: 100%;
    column-gap: 1%;
    row-gap: 10px;
  }
  .course-card {
    width: 24%;
    padding: 0.9rem 0.9rem;
  }

  .course-thumbnail-img {
    height: 12rem;
  }
  .course-wishlist-buttn {
    height: 2rem;
    width: 2rem;
  }
  .wishlist-unselected-icon,
  .wishlist-selected-icon {
    font-size: 1.3rem;
  }
  .course-title {
    font-size: 16px;
  }
  .icon-lessons,
  .icons-students {
    font-size: 12px;
  }

  .course-instructor-img {
    width: 2.8rem;
    height: 2.8rem;
  }
  .course-intructor-name {
    font-size: 16px;
  }
}
