.course-action-buttons {
  display: flex;
  justify-content: space-between;
}
.course-action-butn {
  font-size: 15px;
  display: flex;
  gap: 3px;
  align-items: center;
  padding: 5px 7px;
  color: #777777;
  border: 1px solid #777777;
  margin-top: 4px;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
}
.course-action-butn:hover {
  color: #754ffe;
  border-color: #754ffe;
}
.course-action-icon {
  font-size: 0.8rem;
}
@media (max-width: 400px) {
  .course-action-butn {
    font-size: 14px;
    gap: 2px;
    padding: 5px 7px;
    margin-top: 3px;
  }
  .course-action-icon {
    font-size: 0.65rem;
  }
}
